/* body elements */

body{
  text-align: center;
}

#title .container-fluid{
  padding: 5% 15% 5% 15%;
  text-align: left;
}

/* coloured sections */

.white-section{
  background-color: #fff;
}

.coloured-section{
  background-color:  #ef8172;
  color: #fff;
}

.red-section {
  background-color: #ff4c68;
  color: #fff;
}

/* headings */

h1, h2, h3 {
  font-family: "Poppins";
  font-size: 2.5rem;
  line-height: 1.5;
  font-weight: bold;
}

.big-heading{
  padding-top: 50px;
  font-size: 3.5rem;
}

.cta-heading{
  padding: 5% 5% 1% 5%;
}

.small-heading{
  font-size: 3.5rem;
  padding: 5% 5% 5% 5%;
}

@media (max-width: 1028px) {
  #title{
    text-align: center;
  }
}

/* download button */

.download-button {
  color: white;
  margin: 5% 3% 5% 0;
}

.download-button1{
  color: white;
  margin: 15%;
}

/* title image */

#title {
  position: relative;
}

.row{
  padding: 0 7.5%;
}

.rotate-img{
  transform:
  rotate(20deg);
  width: 60%;
  position: relative;
  top: 160px;
  right: 50px;
}


/* Nav Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.nav-link{
  padding: 0.5rem;
  font-size: 1.2rem;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight:bold;
  padding: 2% 2% 2% 3%;
}

/* Awesome Icons */

.fa-heart, .fa-bullseye, .fa-check-circle {
  color: #ef8172;
}

.fa-check-circle{
  padding-top: 12.5%;
}

.fa-heart:hover, .fa-bullseye:hover, .fa-check-circle:hover {
  color: #ff4c68;
}

/* features section */

#features{
  position: relative;
}

.feature-box{
  padding: 7.5%;
}

.features-title{
font-size: 1.5rem;
font-family: "Poppins";
font-weight: bold;
}

.features-p{
  color: #8f8f8f;
  font-size: 1.1rem;
}

/* Testimonial Section */

.testimonial-image{
  border-radius: 50%;
  width: 30%;
  height: 300px;
  margin: 5%;
}

@media(max-width: 600px){
  .testimonial-image{
    margin-bottom: 30%;
    width: 50%;
  }
}

.testimonial-text{
  padding:7.5% 3% 7% 3%;
}

/* Press Section */

#press{
  position: relative;

}

.press-img{
  width: 15%;
  margin: 20px 20px 50px;

}

/* Pricing Section */

#pricing{
  padding: 100px;
}

.pricing-column{
  padding: 3% 2%;
}

/* Footer */


#footer{
  color: grey;
  padding-top: 3%;
}

.fa-twitter, .fa-facebook-f, .fa-instagram, .fa-envelope {
  margin: 2%;
}
